.example-card {
  max-width: 300px;
  padding: 40px;

}
parent {
  width: 100%;
  /* OR like 95% to make shadows visible */
  height: 100%;
  /* OR like 95% to make shadows visible */
}
.mdc-card {
    display: flex;
    flex-direction: column;
    // width: 300px;
    // height: 100px;
    box-sizing: border-box;
    width: inherit;
    height: inherit;
}
.mat-mdc-card {
    box-shadow: none;
    --mdc-elevated-card-container-color: #fefefe;
}

.img{
  padding:40px;
}


